"*":
  "atom-beautify":
    css:
      default_beautifier: "CSScomb"
      predefinedConfig: "yandex"
    general: {}
    html: {}
    js:
      default_beautifier: "ESLint Fixer"
    objectivec:
      configPath: "./uncrustify.cfg"
    scss:
      predefinedConfig: "zen"
  "atom-clock":
    dateFormat: "HH:mm"
    locale: "sv"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.class"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  docblockr:
    param_description: false
    return_description: false
  editor:
    fontFamily: "Input Sans"
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softTabs: false
  linter: {}
  "linter-eslint": {}
  "linter-javac": {}
  "linter-ui-default":
    panelHeight: 129
    showPanel: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    disablePythonDocLinks: true
  pigments:
    markerType: "native-dot"
  tabs:
    usePreviewTabs: true
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
